#container {
    padding-top: 120px;
    padding-bottom: 12%;
    text-align: center; /* Center inline elements horizontally */
}

/* Center block elements horizontally */
input[type="submit"] {
    display: block;
    margin: 0 auto;
}

/* Additional styles for input, textarea, form button, and label */
input, textarea, form button, label {
    border-radius: 25px;
    font-family: var(--tertiary-font);
    font-size: 20px;
}

input[type="submit"]:hover {
    background-color: var(--tertiary-color);
}
