/*
Global.css

This is the css page where I write down global css information for my entire
website.
*/

::-webkit-scrollbar {
    width: 12px;
    background-color: var(--primary-color);
}

::-webkit-scrollbar-track {
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--tertiary-color);
}

:root {
    --primary-color: #331D2C;
    --secondary-color: #3F2E3E;
    --tertiary-color: #A78295;
    --quaternary-color: #EFE1D1;

    --primary-font: 'Playfair Display', serif;
    --secondary-font: 'Montserrat', sans-serif;
    --tertiary-font: 'Ubuntu', sans-serif;
}

* {
    margin: 0px;
    padding: 20px;
}

body {
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    margin-top: 50px;
    position: relative;
}

a {
    text-decoration: none;
    color: var(--tertiary-color);
    padding: 5px;
    z-index: 999;
}

h2 {
    font-family: var(--primary-font);
}

h3, h4, h5, h6, p {
    font-family: var(--secondary-font);
}

/* Header */
header {
    margin: 0;
    position: fixed;
    right: 0px;
    top: 0;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 22px;
    background-color: var(--primary-color);
    z-index: 999;
}

header * {
    display: flex;
}

header li {
    margin-left: 40px;
}

header li:first-child {
    margin-left: 0px;
}

header li a {
    text-decoration: none;
    color: var(--quaternary-color);
    position: relative;
}

header li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--quaternary-color);
    transition: width 0.3s ease-in-out;
}

header li a#active:hover::after {
    background-color: var(--tertiary-color);
}

header li a:hover::after {
    width: 100%;
}

#active {
    color: var(--tertiary-color);
}

/* Footer */
footer {
    height: 5%;
    padding-bottom: px;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: inherit;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 0;
}

footer #socials {
    display: flex;
    flex-direction: row;
    padding-bottom: 2px;
}

footer #socials a {
    text-decoration: none;
    color: inherit;
    padding: 0 5px;
}

footer #socials a:hover {
    color: var(--tertiary-color);
}