
a {
    padding: 5;
    z-index: 900;
}

#links {
    font-family: var(--tertiary-font);
    margin-right: auto;
    position: sticky;
    top: 0;
    margin-top: 10px;
    z-index: 800;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    transition: transform 0.3s ease;
    background-color: var(--secondary-color);
    width: 50%;
    border: 2px solid var(--tertiary-color);
    border-radius: 35px;
    margin: 50px;
}

.card:hover {
    transform: scale(0.98);
}
