#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative; /* Add position relative to the card */
    transition: transform 0.3s ease;
    background-color: var(--secondary-color);
    width: 50%;
    border: 2px solid var(--tertiary-color);
    border-radius: 35px;
    margin: 50px;
}

.card:hover {
    transform: scale(0.98);
}

.card button {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    bottom: 20px; 
}
